.jumbotron {
    padding: 1em inherit;
    background-color:#7195ce;
}

.horizontal-center {
  text-align: center;
}

.button-right { 
  float:right
  }

.multiline {
    white-space: pre-line;
    margin: 1em 0;
}

.centeritem {
    width: 600px;
    margin-left: auto;
    margin-right: auto;
}

